extends ../layout
block content
  link(rel='stylesheet', href='/stylesheets/admin.css')
  script(type="text/javascript",src="http://192.168.0.16:4000/socket.io/socket.io.js")
  script(type="text/javascript",src="/javascripts/contador/admin.js")
  #app.well.container
    .navbar.banvbar-fixed-top
      .navbar-inner
        a(href="#",class="brand") Sistema Contador - Consola de Administracion
        
    .span3
      form
        legend Sesiones Activas
        ul(id="visores",class="nav nav-tabs nav-stacked")

    .span3
      form
        legend Funciones
        input(type="text",id="accion",class="span1")
        ol
          li Incrementar
          li Decrementar
          li Resetear
          li Cambiar Mensaje Subliminar
          li Recargar Pagina
          li Resetear Terminal
  footer
    p(style="text-align:center")  © Desarrollado por SuperStar Ltda


