extends ../layout
block content
  link(rel='stylesheet', href='/stylesheets/contador.css')
  script(type="text/javascript",src="http://192.168.0.130:4000/socket.io/socket.io.js")
  script(type="text/javascript",src="/stylesheets/js/bootstrap-transition.js")
  script(type="text/javascript",src="/stylesheets/js/bootstrap-carousel.js")
  script(type="text/javascript",src="/javascripts/contador/main.js")
  #app
    #contenido
      .span5(style="background-color:black;margin:0px 0px 0px 0px")
        center
          .row
            #visor.carousel.slide
              .carousel-inner
                .active.item
                  img(src="/contador/fotos/Super-Star-2012-Abuelos-234.jpg",align="right")
          .row(style="height: 250px;")
            #video(muted,preload="true",width="200",src="videos/1.mp4")
            video(muted,autoplay,preload="true",width="350",src="/contador/videos/1.mp4",id="video")
            audio(preload="auto",autobuffer)
              source(src="dingdong.mp3")
              source(src="dingdong.ogg",type="audio/ogg")

      #contador
        center
          h3 Cliente Actual
          label 0
      .row
      marquee
        p(style="text-align:center;")  Mensaje Subliminar va aca....
    #contenidosecundario(style="display:none;")
      center
        img(src="/images/logo_grande_20a.jpg",width="150px",align='right')
        h3 Atención Cliente:
        label 0
